# System Language and keyboard
lang en_US.UTF-8
keyboard us
timezone Asia/Kolkata --isUtc

# Network configuration
network --bootproto=dhcp --device=link --activate

# Root password 
rootpw --plaintext 74580

# Create a user
user --name=toji --groups=wheel --password=123456789 --plaintext

# partitioning
zerombr
clearpart --all --initlabel
autopart

# packages to install
%packages
@core
curl
%end

# the post-install script
%post
#this pulls and runs your secondary script form github
curl -L https://raw.githubusercontent.com/Jay01w3/Rocky-linux-lab/main/setup-app.sh -o /root/setup-app.sh
chmod +x /root/setup-app.sh
/bin/bash /root/setup-app.sh
%end
reboot
