# Language and keyboard lang en_US.UTF-8 keyboard us timezone Asia/Kolkata --utc
# Network conf igurat ion network --bootproto=dhcp --device=link --activate
# Root password rootpw --plaintext 74580
#Create a user for daily work user --name=to,ji --groups=wheel --password=123456789 --plaintext
#partitioning zerombr clearpart --all --init label autopart
#packages to install xpackages Qcore vim nano network-scripts Wend
